<#-- $This file is distributed under the terms of the license in /doc/license.txt$ -->

html, body {
    margin: 0;
    padding: 0;
}
h1 span {
	padding-right:90px;
	color:#B31B1B;font-family:sarif;font-size:1.35em;
	font-weight: bold;
}
p {
	font-size: 16px;
	text-align: left;
	width: 85%;
    font-family: "Lucida Sans Unicode","Lucida Grande",Geneva,helvetica,sans-serif;
    color: #656;
}
section.banner {
   background: #68645B;
   border: medium none;
   display: block;
   padding-top: .3em; 
	padding-left: 1em;  
   height: 3.7em;
}
section.banner div {
   background: url("../images/cu-logo.gif") no-repeat scroll left top #68645B;
   padding-left: 1em;   
   padding-top: .3em;   
   height: 3.4em;
}
section.primary {
	margin: 30px 40px 20px 40px
}
img#orcid-logo {
	vertical-align:top;
	margin-top:-.1em;
}
div#green-arrow {
	position: absolute; top:60px; left:206px
}
div#gray-arrow {
	position: absolute; top:103px; left:206px
}
div#intro-text {
	margin: 30px 0 25px 0;
}
div#signupOne {
	margin: 0 10px 30px 0;
}
div#signupTwo {
	margin-top: -20px
}
div#registerOne {
	margin: 20px 10px 22px 0
}
div#registerTwo {
	margin-top: -20px
}
div#searchOne {
	margin: 20px 10px 30px 0
}
div#searchTwo {
	margin-top: -20px
}
div#concluding-text {
	clear:both;
	padding:25px 0 10px 0;
}
div#rowTwo {
	margin-top:50px
}
div#rowThree {
	margin-top:60px
}
input#submit-this {
	margin-left: 15px;
}
